<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title></head>
<body>
<div>
    <h1>홈페이지입니다.</h1><br> <a th:href="@{/login}">로그인 하기</a>
</div>
<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = "https://localhost:8443/home";
        this.page.identifier = "https://localhost:8443/home";
    };

    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://woomool-market.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
<script id="dsq-count-scr" src="//woomool-market.disqus.com/count.js" async></script>
</body>
</html>
