HELP.md
.gradle
build/
generated/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
/module-vue/node_modules

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.pkcs12
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.yml
*.xml
*.log
logs/
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
gradle/
gradlew
gradlew.bat

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Project exclude paths
/module-web/src/main/resources/static/js/