a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*--- LIST ---*/
.list-container {
  padding-top: 13px;
}

.list-container.sticky {
  margin-top: 76px;
}

.list-container > ul {
  display: inline-flex;
  flex-wrap: wrap;
}

.list-container > ul > li {
  position: relative;
  flex-grow: 1;
  width: 320px;
  height: 250px;
  margin: 7px;
  padding: 10px 20px;
  background: white;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}

.cart-id {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.cart-products {
  height: 160px;
  overflow-y: auto;
  font-size: 18px;
}

.cart-trash {
  position: absolute;
  bottom: 4px;
  right: 5px;
  font-size: 14px;
  color: #9e9e9e;
}